*
!Dockerfile.pocketbase
!Dockerfile.web
!package.json
!package-lock.json
!vite.config.js
!index.html
!src/
!src/**
!api/
!api/**
!server/
!server/**
!docker/
!docker/**
!pb_hooks/
!pb_hooks/**
!pb_migrations/
!pb_migrations/**
!public/
!public/**
